html {
    --block--transition: 0.2s cubic-bezier(0, 1.5, 1, 1.5);
    --loader--transition: 0.2s ease-in-out;
    --gradient--animation--transition: 3s linear infinite alternate shine-lines;
    --gradient--animation--transition--slower: 6s linear infinite alternate shine-lines;
    --opacity--animation--transition: opacity 0.3s ease-in-out;
    --defatul--transition: 0.3s ease-in-out;
    --form--switch-transition: 0.3s linear;
    --bizier--transition--fast: cubic-bezier(.92, .04, 0, 1.03);
    --bizier--transition--slow: cubic-bezier(.74, .67, .44, 1.1);
    --app-height: 100%;
    --menu-timing-function: cubic-bezier(.6, .16, .37, .95);
    --menu-animation-duration: 0.3s;
    --bounce--animate-duration: 1s;
}

html,
html[data-theme='light'] {
    --text-primary: #04060B;
    --text-secondary: #191F2F;
    --text-tetriary: #728A96;
    --text-slash: #728A96;

    --background-page: #FFFFFF;
    --background-content: #F2F4F7;
    --background-content-upper: #F2F4F7;
    --disabled--button--background-content: #F7F9FB;

    --background-content-hover: rgba(98, 54, 231, 0.06);
    --background-suggestions: #FFFFFF;
    --background-segment: rgba(98, 54, 231, 0.12);
    --background-fixed-header: rgba(255, 255, 255, 0.56);

    --card-border-default: #E4E7EC;
    --card-border-checkbox: #E4E7EC;
    --card-shadow: rgba(98, 54, 231, 0.10);

    --button-secondary-stroke: #E9EAF0;
    --wallet-button-secondary-stroke: #F7F9FB;


    --accent-default: #6236E7;
    --accent-default--border-pressed: rgba(98, 54, 231, 0.8);
    --accent-hover: #7E51FE;
    --button--background: #6236E7;

    --icon-primary: #232328;
    --icon-secondary: #98B2BF;

    --separator-alpha: #C0D1D9;
    --separator-alpha--footer: rgba(223, 229, 232, 0.5);

    --flip-bg-color: #F2F4F7;
    --flip-text-color: rgba(4, 6, 11, 1);
    --flip-dots-color: rgba(192, 209, 217, 1);
    --flip-border-color: rgba(221, 227, 230, 0.9);
    --flip-shadow-color: #D6DFE9;

    --loader--background--gradient: linear-gradient(89.96deg, #F2F4F7 0.04%, #FAFAFD 50.98%, #F2F4F7 99.96%);

    --text-error: #ED6767;
    --error--bg: rgb(237, 103, 103, 0.1);

    --input--box--shadow--hover: 0px 0px 1px 6px rgba(98, 54, 231, 0.10);
    --default--input--box--shadow--hover: 0px 0px 0px 6px rgba(98, 54, 231, 0.10);
    --default--input--box--shadow--clicked: 0px 0px 1px 5px rgba(98, 54, 231, 0.125);
    --accent-light-hover: #7E51FE;
    --dns-logo-path: url("/assets/dns_logo.svg");
    --ton-logo-path: url("/assets/ion_coin.png");

    --free-domain-status-color: #47C58A;
    --free-domain-loader-bg: rgba(50, 213, 131, 0.2);
    --free-domain-status-backgroud: rgba(71, 197, 138, 0.08);

    --busy-domain-status-color: #ED6767;
    --busy-domain-loader-bg: rgba(237, 103, 103, 0.2);
    --busy-domain-status-backgroud: rgba(230, 70, 70, 0.08);
    --copy--icon: url("/assets/copy_btn.svg");
    --copy--icon--completed: url("/assets/copy_btn_done.svg");

    --arrow--right: url("/assets/arrow_right_light-blue.svg");
    --arrow--right--inversed: url("/assets/arrow_right_light-grey.svg");

    --socials--color: #98B2BF;

    --tonkeeper__icon: url("/assets/tonkeeper_white.svg");
    --tonkeeper__icon--mono: url("/assets/tonkeeper_icon.svg");

    --copy__link__icon: url("/assets/copy_link_icon.svg");
    --copy__link__icon--success: url("/assets/copy_link_success.svg");

    --table-border: 0.5px solid #DDE3E6;
    --table-row-hover-shadow: 0px 2px 24px rgba(114, 138, 150, 0.12);
}

html[data-theme='dark'] {
    --text-primary: #F3F3F7;
    --text-secondary: #D5D5D8;
    --text-tetriary: #ACACAF;
    --text-slash: #728A96;

    --background-page: #19131C;
    --background-content: #211A24;
    --background-content-upper: #211A24;
    --disabled--button--background-content: #1C161F;

    --background-content-hover: rgba(255, 255, 255, 0.06);
    --background-suggestions: #211A24;
    --background-segment: #2A2230;
    --background-fixed-header: rgba(0, 0, 0, 0.32);

    --card-border-default: #2A2230;
    --card-border-checkbox: #3A2F44;
    --card-shadow: rgba(0, 0, 0, 0.32);

    --button-secondary-stroke: #2A2230;
    --wallet-button-secondary-stroke: #211A24;


    --accent-default: #7E51FE;
    --accent-default--border-pressed: rgba(126, 81, 254, 0.8);
    --accent-hover: #9573FF;
    --button--background: #6236E7;

    --icon-primary: #E5E5EA;
    --icon-secondary: #606069;

    --separator-alpha: #2D2738;
    --separator-alpha--footer: rgba(45, 39, 56, 0.5);

    --flip-bg-color: #211A24;
    --flip-text-color: rgba(243, 243, 246, 1);
    --flip-dots-color: rgba(80, 60, 100, 1);
    --flip-border-color: rgba(25, 19, 28, 0.9);
    --flip-shadow-color: rgba(15, 10, 18, 0.5);

    --loader--background--gradient: linear-gradient(90deg, rgba(33, 26, 36, 0.8) 0%, #2D2438 48.16%, #211A24 98.44%);

    --text-error: #FF5C5C;
    --error--bg: rgb(255, 92, 92, 0.1);

    --accent-light-hover: #9573FF;
    --default--input--box--shadow--hover: 0px 0px 0px 6px rgba(126, 81, 254, 0.15);
    --default--input--box--shadow--clicked: 0px 0px 1px 5px rgba(126, 81, 254, 0.18);

    --dns-logo-path: url("/assets/dns_logo_dark.svg");
    --ton-logo-path: url("/assets/ion_coin.png");

    --free-domain-status-color: #32D583;
    --free-domain-loader-bg: rgba(50, 213, 131, 0.2);
    --free-domain-status-backgroud: rgba(50, 213, 131, 0.08);

    --busy-domain-status-color: #FF5C5C;
    --busy-domain-loader-bg: rgba(237, 103, 103, 0.2);
    --busy-domain-status-backgroud: rgba(255, 92, 92, 0.08);

    --copy--icon: url("/assets/copy_btn_dark.svg");
    --copy--icon--completed: url("/assets/copy_btn_done_dark.svg");

    --arrow--right: url("/assets/arrow_right_dark-blue.svg");
    --arrow--right--inversed: url("/assets/arrow_right_dark-grey.svg");

    --socials--color: #606069;
    --tonkeeper__icon: url("/assets/tonkeeper_icon.svg");
    --tonkeeper__icon--mono: url("/assets/tonkeeper_icon.svg");
    --copy__link__icon: url("/assets/copy_link_icon_dark.svg");
    --copy__link__icon--success: url("/assets/copy_link_success.svg");


    --table-border: 0.5px solid #2D2D32;
    --table-row-hover-shadow: 0px 2px 24px rgba(0, 0, 0, 0.16);
}

@keyframes shine-lines {
    0% {
        background-position: -400px
    }

    100% {
        background-position: 440px
    }
}
